
.header {
    background-color: #42687c;
    color: #fff;
    padding: 20px;
}


.nav__links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin:
    0;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav__link:hover {
    color: gray;
}

.main {
    background-color: #c1d2dc;
    padding: 20px;
}

.title {
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.bio {
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-direction: column;
}

.education_work {
    display: flex;
    width: 800px;
    height: 200px;
    margin: 0 auto;
    justify-content: space-between;
}

.interests {
    width: 800px;
    margin: 0 auto;
}

.interests__title {
    text-align: center;
}
.footer {
    background-color: #42687c;
    color: #fff;
    padding: 20px;
    text-align: center;
}
